/* styles */
/* called by your view template */

/* You might want to try something fancier: */
/* less: http://lesscss.org/ */

* {
  box-sizing: border-box;
  margin-left:20px;
}

body {
  font-family: helvetica, arial, sans-serif;
  margin: 25px;
}

h1 {
  font-weight: bold;
}

.bold {
  font-weight: bold;
}

h2{
  font-size:1em;
}
h3{
  font-size:1.5em;
  font-weight:bold;
}
.user-story{
  margin-left:20px;
}
.nicejob {
  text-decoration: line-through;
}
